.avacordion {
  .accordion-navigation {
    > a:before {
      @include icon_drop_arrow();
      padding-right: rem-calc(2);
    }
    &.active {
      > a:before {
        @include icon_raise_arrow();
      }
    }
  }
  .content {
    display: none;
    &.active {
      display: block;
    }
  }
}
