.image-preview {
  &.placeholder {
    background-color: $avalara-lighter-gray;
  }
  border: 1px solid $avalara-light-gray;
  cursor: pointer;
  margin-bottom: 2rem;
  height: 625px;
  overflow: auto;

  img {
    background-color: $avalara-white;
    margin: 2px 2px 10px 2px;
    max-width: 99%;

    &.zoom {
      max-width: 175%;
    }

    &:last-of-type {
      margin-bottom: 2px;
    }
  }

  em {
    display: block;
    margin: 30% auto 20px;
    width: 120px;
  }
}
