.toggle-panel {
  margin-top: rem-calc(30);
  margin-bottom: rem-calc(30);

  .toggle-panel-inner {
    margin: 1rem 0;
  }

  >div {
    &.row {
      margin-bottom: rem-calc(28);
    }

    a.toggle {
      display: inline-block;
      padding-left: 2rem;

      h1, h2, h3, h4, h5, h6 {
        display: inline;
        color: inherit;
      }

      .icon-expander:before {
        display: inline-block;
      }

      i {
        margin-left: -2.15rem;
      }

      //the two states of the arrow
      i:before {
        display: inline-block;
        color: $avalara-dark-blue;
        font-size: 1.4rem;
        transition: transform 0.25s ease-in-out;
      }
      &.open {
        i:before {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
          /*color: #FFF;*/
        }
      }
    }
  }

  &.heading-toggle-panel {
      a.toggle {
        font-size: $h2-font-size;
        font-weight: 300;

        .icon-expander {
          margin-right: .5rem;
          &:before {
            bottom: .2rem;
          }
        }
      }

      .toggle-panel-inner {
        margin-left: 2rem;
      }
  }
}
