@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yit5hk');
  src:  url('fonts/icomoon.eot?yit5hk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yit5hk') format('truetype'),
    url('fonts/icomoon.woff?yit5hk') format('woff'),
    url('fonts/icomoon.svg?yit5hk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-droplet:before {
  content: "\e950";
}
.icon-get-started:before {
  content: "\e951";
}
.icon-icon-bug:before {
  content: "\e94d";
}
.icon-PaymentMethodCheckIcon:before {
  content: "\e94c";
}
.icon-menu:before {
  content: "\e623";
}
.icon-more:before {
  content: "\e60a";
}
.icon-user:before {
  content: "\e91e";
}
.icon-community:before {
  content: "\e939";
}
.icon-home:before {
  content: "\e91f";
}
.icon-clipboard:before {
  content: "\e94b";
}
.icon-configuration:before {
  content: "\e626";
}
.icon-settings:before {
  content: "\e621";
}
.icon-field-help:before {
  content: "\e901";
}
.icon-help:before {
  content: "\e90f";
}
.icon-forum:before {
  content: "\e903";
}
.icon-chat:before {
  content: "\e900";
}
.icon-sales-tax-calculator:before {
  content: "\e908";
}
.icon-credit-card:before {
  content: "\e912";
}
.icon-amount-due:before {
  content: "\e916";
}
.icon-list:before {
  content: "\e619";
}
.icon-grab:before {
  content: "\e909";
}
.icon-cart:before {
  content: "\e92d";
}
.icon-dashboard:before {
  content: "\e92b";
}
.icon-delay:before {
  content: "\e92f";
}
.icon-bar-chart:before {
  content: "\e92c";
}
.icon-HMTL-trx-reports:before {
  content: "\e90c";
}
.icon-clock:before {
  content: "\e902";
}
.icon-PDF:before {
  content: "\e907";
}
.icon-DocumentIcon:before {
  content: "\e91c";
}
.icon-commit-document:before {
  content: "\e932";
}
.icon-cancel-document:before {
  content: "\e933";
}
.icon-tax-notices:before {
  content: "\e90e";
}
.icon-release-notes:before {
  content: "\e93a";
}
.icon-common-errors:before {
  content: "\e934";
}
.icon-alert:before {
  content: "\e911";
}
.icon-complete:before {
  content: "\e625";
}
.icon-inactive:before {
  content: "\e60c";
}
.icon-checkmark:before {
  content: "\e601";
}
.icon-close:before {
  content: "\e802";
}
.icon-add:before {
  content: "\e602";
}
.icon-refresh:before {
  content: "\e610";
}
.icon-CalculateIcon:before {
  content: "\e94f";
}
.icon-undo:before {
  content: "\e913";
}
.icon-redo:before {
  content: "\e90b";
}
.icon-run:before {
  content: "\e914";
}
.icon-play:before {
  content: "\e915";
}
.icon-upload:before {
  content: "\e600";
}
.icon-download:before {
  content: "\e60d";
}
.icon-filter:before {
  content: "\e612";
}
.icon-date:before {
  content: "\e617";
}
.icon-print:before {
  content: "\e801";
}
.icon-open-close:before {
  content: "\e800";
}
.icon-drop-arrow:before {
  content: "\e61a";
}
.icon-raise-arrow:before {
  content: "\e61f";
}
.icon-left-arrow:before {
  content: "\e607";
}
.icon-right-arrow:before {
  content: "\e61b";
}
.icon-sort-up-arrow:before {
  content: "\e60b";
}
.icon-sort-down_arrow:before {
  content: "\e61c";
}
.icon-copy-to-left:before {
  content: "\e918";
}
.icon-copy-to-right:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e620";
}
.icon-zoom-preview:before {
  content: "\e91a";
}
.icon-admin:before {
  content: "\e91b";
}
.icon-edit:before {
  content: "\e614";
}
.icon-delete:before {
  content: "\e613";
}
.icon-request:before {
  content: "\e935";
}
.icon-shareIcon:before {
  content: "\e949";
}
.icon-complete-and-sign:before {
  content: "\e90d";
}
.icon-BulkBucketIcon:before {
  content: "\e947";
}
.icon-CheckmarkIcon:before {
  content: "\e948";
}
.icon-ShippedFrieghtIcon:before {
  content: "\e91d";
}
.icon-CartonIcon:before {
  content: "\e926";
}
.icon-phone:before {
  content: "\e92e";
}
.icon-iPhoneIcon:before {
  content: "\e94a";
}
.icon-website:before {
  content: "\e920";
}
.icon-global:before {
  content: "\e922";
}
.icon-email:before {
  content: "\e921";
}
.icon-code:before {
  content: "\e931";
}
.icon-link:before {
  content: "\e923";
}
.icon-AttachmentIcon:before {
  content: "\e937";
}
.icon-external-link:before {
  content: "\e910";
}
.icon-image:before {
  content: "\e924";
}
.icon-SignatureIcon:before {
  content: "\e944";
}
.icon-ssl-certs:before {
  content: "\e936";
}
.icon-ProxyServerIcon:before {
  content: "\e945";
}
.icon-diagram:before {
  content: "\e930";
}
.icon-integrations:before {
  content: "\e940";
}
.icon-automation:before {
  content: "\e941";
}
.icon-VAT:before {
  content: "\e938";
}
.icon-user-guides:before {
  content: "\e906";
}
.icon-Av-U:before {
  content: "\e943";
}
.icon-knowledge-base-article:before {
  content: "\e904";
}
.icon-classroom:before {
  content: "\e93b";
}
.icon-crash-courses:before {
  content: "\e93c";
}
.icon-webinars:before {
  content: "\e93d";
}
.icon-get-started2:before {
  content: "\e93e";
}
.icon-knowledge-bases:before {
  content: "\e93f";
}
.icon-submit-case:before {
  content: "\e905";
}
.icon-company-locations:before {
  content: "\e925";
}
.icon-returns-workspace:before {
  content: "\e629";
}
.icon-product-taxability:before {
  content: "\e90a";
}
.icon-Icon_Account:before {
  content: "\e94e";
}
.icon-Product-experience:before {
  content: "\e946";
}
.icon-avalara-returns:before {
  content: "\e942";
}
.icon-av-contact-info:before {
  content: "\e917";
}
.icon-facebook:before {
  content: "\e927";
}
.icon-twitter:before {
  content: "\e928";
}
.icon-linkedin:before {
  content: "\e929";
}
.icon-youtube:before {
  content: "\e92a";
}
